# Frontend (Vercel o local)
NEXT_PUBLIC_SOCKET_URL=https://lacampaniaonline.onrender.com

# Mobile (Expo / Firebase)
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=juegoonl.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=juegoonl
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=juegoonl.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=556271006135
EXPO_PUBLIC_FIREBASE_APP_ID=

# Backend realtime (Render o local)
CORS_ALLOWED_ORIGINS=https://la-campania.vercel.app,http://localhost:3000
